body {
    background-color: #252525;
    color: #fff;
}

/* Scroll Section */
body::-webkit-scrollbar {
    width: 8px;
}
   
body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: darkgrey;
}


/* Btn Chips */
.chips__color__notification {
    position: absolute;
    top: 142px;
    transition: .2s ease;
}

.btn__chips {
    font-family: 'Inter', sans-serif;
    transform: translateX(-150%);
    animation: ani 1s forwards;    
    transition: all 5s ease;
    margin-left: 20px;
    margin-bottom: 5px;
    border-radius: 30px;
    transition: .2s ease;
    border: 2px solid #000000;
    width: 200px;
    height: 50px;
    color: #000000;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    background-color: #00fd76;
}


@keyframes ani {
    0% {transform: translateX(-150%);}
    100% {transform: translateY(0);}
}

.remove__message {
    visibility: 0;
}


/* Container */
.container {
    padding-left: 223px;
    padding-right: 223px;
}

.article {
    max-width: 1366px;
    height: 1600px;
    margin: 0 auto;
    background: #454545;
    box-shadow: 17px 25px 23px 11px rgba(0, 0, 0, 0.25), 
    -17px 25px 23px 11px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    position: relative;
}


/* Logo Section */
.logo__section {
    max-width: 1366px;
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header__logo {
    user-select: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;   
    font-size: 110px;
    line-height: 104px; 
    margin: 0;
    margin-left: -5px;
    padding-bottom: 47px;
    background: linear-gradient(180deg, 
    #ffffff 29.9%, 
    #8a8a8a 57.73%, 
    #222222 105.15%, 
    #ffffff 105.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;    
    text-shadow: 0px 5.6px 50.4px rgba(0, 0, 0, 0.5);
}

.logo__navigation {
    font-family: 'Inter', sans-serif;
    display: flex;
}

.nav {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    list-style-type: none;
    user-select: none;
}

.nav li {
    margin-left: 70px;
}

.nav li a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-clip: text;
    color: #c2c9d6;
    filter: drop-shadow(2px 2px 7px #000000);
    transition: .2s ease;
}

.nav li a:hover {
    color: #ffffff;
    filter: drop-shadow(2px 2px 7px #000000);
}


/* ColorPickerForm */
.color__picker__form {   
    width: 372px;
    height: 664px;
    background: #252525;
    box-shadow: 6px 6px 10px 
    rgba(0, 0, 0, 0.25), 
    -6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 989px;
}


/* Buttons */
.buttons_section {
    display: flex;
}

.color__buttons {
    width: 300px;
    height: 111px;
    background: #3E3E3E;
    border-radius: 10px;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25)) 
    drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25)); 
    margin-left: 11px;
    margin-top: 11px; 
    display: grid;
    justify-content: center;
}

.color__buttons__position {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 23px;
    grid-template-rows: 56px;
    align-items: center;
}

.btn__colors {
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 4px 
    rgba(0, 0, 0, 0.25), -2px 2px 2px 
    rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


/* Picker Buttons */
.type__picker__buttons {
    margin-top: 23px;
    margin-left: 7px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 23px;
    grid-template-rows: 56px;
}

.btn__picker {
    font-family: 'Inter', sans-serif;
    user-select: none;
    border: none;
    color: #ffffff;
    width: 50px;
    height: 35px;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    background-color: #454545;
    border-radius: 30px;
    transition: .2s ease;
}

.btn__picker:hover {
    border: #fff;
    background-color: #c2c9d6;
    color: #000000;
}


/* ColorPicker */
.color__picker__main {
    display: none;
}

.color__picker {
    border-radius: 15px;
    position: absolute;
    top: 129px;
    left: 10px;
}

.color__box {
    margin-top: 0;
    position: relative;
    display: block;
    border: 2px solid #000;
    border-radius: 15px;
    background-color: #000;
    filter: drop-shadow(-4px 4px 4px 
    rgba(0, 0, 0, 0.25)) 
    drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.picker__cursor { 
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 20px;
    outline: 1px solid #fff;
    outline-offset: -3px;
} 


/* ColorPickerHue */
.color__picker__hue__main {
    display: block;
    transition: .2 ease;
}

.color__picker__hue {
    border-radius: 15px;
    position: absolute;
    top: 129px;
    left: 10px;
}

.canvas__container {
    display: flex;
}

.color__box__hue {
    display: none;
    margin-top: 0;
    position: relative;
    display: block;
    border: 2px solid #000;
    border-radius: 15px;
    background-color: #000;
    filter: drop-shadow(-4px 4px 4px 
    rgba(0, 0, 0, 0.25)) 
    drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.picker__cursor__hue { 
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 20px;
    outline: 1px solid #fff;
    outline-offset: -3px;
} 

.color__spectrum {
    margin-top: 0;
    position: relative;
    left: 17px;
    display: block;
    border: 2px solid #000;
    border-radius: 25px;
    background-color: #000;
    filter: drop-shadow(-4px 4px 4px 
    rgba(0, 0, 0, 0.25)) 
    drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.picker__hue {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 30px;
    outline: 1px solid #fff;
    outline-offset: -3px;
    left: 323px;
}


/* IndexHue */
.index__color__hue {
    margin-bottom: 12px;
    position: relative;
    left: 12px;
    top: 360px;
}

.indexHue {
    font-family: 'Lato', sans-serif;
    width: 350px;
    height: 45px;
    margin-top: 12px;
    border: none;
    background: #454545;
    border-radius: 30px;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25)) 
    drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
}


/* ColorIndex */
.index__color {
    margin-bottom: 12px;
    position: relative;
    left: 12px;
    top: 360px;
}

.index {
    font-family: 'Lato', sans-serif;
    width: 350px;
    height: 45px;
    margin-top: 12px;
    border: none;
    background: #454545;
    border-radius: 30px;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25)) 
    drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
}


/* ColorSafe */
.color__save__form {
    position: absolute;
    left: 5px;
    top: 5px;    
    width: 372px;
    height: 664px;
    background: #252525;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25), 
    -6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.color__save__main {
    position: absolute;
    left: 11px;
    top: 11px;
    width: 340px;
    height: 634px;
    background: #252525;
    border: 5px solid #454545;
    border-radius: 4px;
    overflow-y: scroll;
}

.color__save__main::-webkit-scrollbar {
    padding-top: 5px;
    width: 8px;
}

.color__save__main::-webkit-scrollbar-thumb {
    background-color: rgb(158, 158, 158);
    border-radius: 30px;
}

.type__color__btn {
    width: 60px;
    height: 60px;
    border: 3px solid #000000;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 15px;
}

.text__save {
    font-family: 'Inter', sans-serif;
    margin-left: 26px;
    margin-top: 280px;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 0.1;
}


/* ColorResult */
.color__result__form {
    width: 574px;
    height: 605px;
    margin: 0 auto;
    background-color: #252525;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25), 
    -6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    top: 5px;
}

.color__result {
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25), 
    4px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 9px;
    top: -5px;
    margin: 0;
    border-radius: 15px;
    width: 553px;
    height: 468px;
    border: 2px solid #000;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);   
}

 
/* Search Subtitle */
.text__section {
    position: absolute;
    top: 612px;
    left: 5px;
}

.subtitle__search {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    margin: 0;
    color: #00D1FF;
    font-size: 19px;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    line-height: 25px;
    word-spacing: 17.5px;
}

.subtitle__search::before {
    content: '{';
    color: #FF8A00;
}

.subtitle__search::after {
    content: '}';
    color: #FF8A00;
}

.line__section {
    position: relative;
    top: -24px;
    left: 0px;
}

.underline__sub {
    border: 0.5px solid #000000;
    margin-top: 2px;
}

.uderline__subtitle__one {
    position: absolute;
    top: 25px;
    left: -5px;
    width: 574px;
    height: 2px;
    background: #FF0000;
    border-radius: 3px;
}

.uderline__subtitle__two {
    position: absolute;
    top: 35px;
    left: 80px;
    width: 400px;
    height: 2px;
    background: #00FF00;
    border: 0.5px solid #000000;
    border-radius: 3px;
}

.uderline__subtitle__three {
    position: absolute;
    top: 45px;
    left: 183px;
    width: 200px;
    height: 2px;
    background: #0000FF;
    border: 0.5px solid #000000;
    border-radius: 3px;
}


/* ColorSearch */
/* RGB */
.color__search__rgb {
    display: block;
}

.input__rgb::placeholder {
    color: rgba(255, 255, 255, 0.059);
}

.input__rgb__section {
    font-family: 'Lato', sans-serif;
    width: 553px;    
    height: 45px;
    margin: 0 auto;
    padding: 1px 2px;
    border: none;
    background: #454545;
    text-align: center;
    border-radius: 23px;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25)) 
    drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    top: 491px;
}

.input__position__rgb {
    width: 70px;
    height: 23px;
    text-align: center;
    background: #252525;
    border: none;
    color: #ffffff;
    margin-top: 1px;
    margin-right: 30px;
    outline: none;
}

.input__position__rgb::-webkit-inner-spin-button,
.input__position__rgb::-webkit-outer-spin-button {
    display: none;
}

.rgb__buttons__position {
    position: absolute;
    top: 498px;
    left: 431px;
}

.type__color__rgb {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #252525;
    border-radius: 15px;
    border: none;
    width: 50px;
    height: 33px;
}

.search__btn__rgb {
    font-family: 'Lato', sans-serif;
    width: 70px;
    height: 33px;
    line-height: 15.6px;
    align-items: center;
    font-size: 13px;
    border-radius: 15px;
    border: none;
    background-color: #252525;
    color: #ffffff;
}


/* HEX */
.color__search__hex {
    display: none;
}

.input__hex::placeholder {
    color: rgba(255, 255, 255, 0.059);
}

.name__type {
    font-size: 20px;
    text-transform: uppercase;
    color: #252525;
    position: absolute;
    left: 70px;
    top: -7px;
}

.input__hex__section {
    font-family: 'Lato', sans-serif;
    width: 553px;    
    height: 45px;
    margin: 0 auto;
    padding: 1px 2px;
    border: none;
    background: #454545;
    text-align: center;
    border-radius: 23px;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25)) 
    drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    top: 491px;
}

.input__position__hex {
    background: #252525;
    border: none;
    text-align: center;
    color: #ffffff;
    margin-top: 1px;
    margin-right: 30px;
    outline: none;
}

.name__type {
    font-size: 20px;
    text-transform: uppercase;
    color: #252525;
    position: absolute;
    left: 70px;
    top: -7px;
}

.hex__buttons__position {
    position: absolute;
    top: 498px;
    left: 431px;
}

.type__color__hex {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #252525;
    border-radius: 15px;
    border: none;
    width: 50px;
    height: 33px;
}

.search__btn__hex {
    font-family: 'Lato', sans-serif;
    width: 70px;
    height: 33px;
    line-height: 15.6px;
    align-items: center;
    font-size: 13px;
    border-radius: 15px;
    border: none;
    background-color: #252525;
    color: #ffffff;
}


/* HSL */
.color__search__hsl {
    display: none;
}

.input__hsl::placeholder {
    color: rgba(255, 255, 255, 0.059);
}

.input__hsl__section {
    font-family: 'Lato', sans-serif;
    width: 553px;    
    height: 45px;
    margin: 0 auto;
    padding: 1px 2px;
    border: none;
    background: #454545;
    text-align: center;
    border-radius: 23px;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25)) 
    drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    top: 491px;
}

.input__position__hsl {
    width: 70px;
    height: 23px;
    text-align: center;
    background: #252525;
    border: none;
    color: #ffffff;
    margin-top: 1px;
    margin-right: 30px;
    outline: none;
}

.input__position__hsl::-webkit-inner-spin-button,
.input__position__hsl::-webkit-outer-spin-button {
    display: none;
}

.hsl__buttons__position {
    position: absolute;
    top: 498px;
    left: 431px;
}

.type__color__hsl {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #252525;
    border-radius: 15px;
    border: none;
    width: 50px;
    height: 33px;
}

.search__btn__hsl {
    font-family: 'Lato', sans-serif;
    width: 70px;
    height: 33px;
    line-height: 15.6px;
    align-items: center;
    font-size: 13px;
    border-radius: 15px;
    border: none;
    background-color: #252525;
    color: #ffffff;
}

/* colorResultSaveButtons */
.btn__save__section {
    position: absolute;
    top: 548px;
    left: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 54px;
    grid-template-rows: 56px;
}

.btn__save {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    width: 150px;
    height: 45px;
    color: #ffffff;
    background: #454545;
    border-radius: 23px;
    border: none;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25)) 
    drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s ease;
}

.btn__save:hover {
    background-color: #ebebeb;
    color: #000000;
}


/* Color model help */
.name__model__help {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 92px;
}

/* Rgb section */
.rgb__index__section {
    margin-left: 26px;
}

.rgb__model__section {
    width: 1326px;
    height: 185px;
    background: #252525;
    border-radius: 5px;
    margin-top: -33px;
    margin-left: 20px;
}

.red__section {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    font-size: 20px;
    margin-top: -4px;
}

.green__section {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    font-size: 20px;
    margin-top: -30px;
}

.blue__section {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    font-size: 20px;
    margin-top: -30px;
}

.rgb__info {
    width: 1274px;
    height: 70px;
    font-family: 'Inter';
    font-size: 19px;
    color: #FFFFFF;
    position: relative;
    margin: 0;
    top: 13px;
    left: 26px;
    word-spacing: -1px;
}

.bracket {
    color: #FF8A00;
    margin-left: 30px;
    margin-right: 30px;
}

.tag__color {
    color: #01C2FF;
}

.tag__color::after {
    content: ':';
    color: #ffffff;
}


.main__index {
    margin-left: 20px;
    color: #FFFB94;
}

.tag__name {
    color: #00FFF0;
}


.color__index__main {
    color: #95FF84;
}

.color__index__main::before {
    content: '(';
    color: #D02DD3;
}

.color__index__main::after {
    content: ')';
    color: #D02DD3;
}

.comment {
    color: #454545;
}


/* Line One */
.model__line__one {
    position: absolute;
    width: 1270px;
    height: 2px;
    left: 48px;
    top: 1008px;
    background: #000000;
    border-radius: 5px;
}


/* Hsl section */
.hsl__model__section {
    width: 1326px;
    height: 231px;
    background: #252525;
    border-radius: 5px;
    margin-top: 42px;
    margin-left: 20px;
}

.hsl__index__section {
    margin-top: 0px;
    margin-left: 20px;
}

.hsl__info {
    width: 1274px;
    height: 100px;
    font-family: 'Inter';
    font-size: 19px;
    color: #FFFFFF;
    position: relative;
    margin: 0;
    top: 13px;
    left: 26px;
    word-spacing: -1px;
}

.bracket__hsl {
    color: #FF8A00;
    margin-left: 55px;
    margin-right: 30px;
}

.red__section__hsl {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    font-size: 20px;
}

.green__section__hsl {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    font-size: 20px;
    margin-top: -27px;
}

.blue__section__hsl {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    font-size: 20px;
    margin-top: -28px;
}


/* Model Line Two */
.model__line__two {
    position: absolute;
    width: 1270px;
    height: 2px;
    left: 48px;
    top: 1281px;
    background: #000000;
    border-radius: 5px;
}


/* Hex section */
.hex__model__section {
    width: 1326px;
    height: 262px;
    background: #252525;
    border-radius: 5px;
    margin-top: 42px;
    margin-left: 20px;
}

.hex__info {
    width: 1274px;
    height: 100px;
    font-family: 'Inter';
    font-size: 19px;
    color: #FFFFFF;
    position: relative;
    margin: 0;
    top: 13px;
    left: 26px;
    word-spacing: -1px;
}

.hex__index__section {
    margin-top: 25px;
    margin-left: 20px;
}

.red__section__hex {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    font-size: 20px;
}

.green__section__hex {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    font-size: 20px;
    margin-top: -27px;
}

.blue__section__hex {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    font-size: 20px;
    margin-top: -28px;
}
